{% extends 'base.html' %}
{% block content %}


<div class="container-fluid bg-2 text-center">
  <div class="row">
  {% for audios in aud %}
    <div class="col-sm-4">
     <br>
  <div class="media">
    <div class="media-left">
 
    </div>
     <div class="media-body">
      <p3><a href="{%url 'audio' audios.id %}">{{audios.song_title}} </a> By {{audios.artist_name}}</p3>
      <p2>by {{audios.artist_name}}</p2><br>

           <ul class="list-inline" style="color: red;">
            <li><span class="badge"></span><small>  downloads</small></li> |
            <li><span class="badge"></span><small>  plays</small></li>
          </ul>
    </div>
    </div>
  </div>
  <br>
  
   {% endfor %}
  </div>
</div>

{% endblock %}



