{% extends 'base.html' %}
{% block content %}

<br>
<div class="bckgnd">
<div class="panel panel-warning text-center">
   <div class="panel-heading"><h2>LA News</h2></div>
</div>

<div class="container-fluid bg-2 text-center">
 <!--     <div>
    <a href="#"><i class="glyphicon glyphicon-thumbs-user"></i>  Username</a>

    <a href="#"><i class="glyphicon glyphicon-comment"></i>   2</a>
    
    <a href="#"><i class="glyphicon glyphicon-thumbs-up"></i>   152</a>
    
    <a href="#"><i class="glyphicon glyphicon-thumbs-down"></i>    26</a>
  </div>--> 
 
  </div>
</div><br>

</div>
{% endblock %}
