{% extends "base.html" %}
{% block content %}
{% include 'messages.html'%}

<br>

<div class="bckgnd">
<div class="container">
<div class="col-lg-2"></div>
<div class="col-lg-8 ">
<br><br>

  <h2>Register Here</h2>
  <form method="POST" action="/signup">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{form.username.label}}
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
      {% endif %}
      {{form.username(class="form-control")}}
    </div>
    <div class="form-group">
      {{form.email.label}}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
      {% endif %}
      {{form.email(class="form-control")}}
    </div>
    <div class="form-group">
      {{form.password.label}}
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
      {% endif %}
      {{form.password(class="form-control")}}
    </div>
        <div class="form-group">
      {{form.confirm.label}}
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          <p class="error-message">{{ error }}</p>
        {% endfor %}
      {% endif %}
      {{form.confirm(class="form-control")}}
    </div>

    {{form.submit(class="btn btn-default")}}
  </form>
  <br><br>
</div>
<div class="col-lg-2"></div>
</div>
{% endblock %}
